<div class="container_how">
  <div class="row mb-5">
    <div class="col-lg-12 text-center">
      <h2 class="how-title">HOW TO USE</h2>
    </div>
  </div>
  <div class="row text-center step-content ml-5">
    <div class="col-lg-4 step-box">
      <div>
        <div>
          <h2>STEP1</h2>
        </div>
        <i class="fas fa-search fa-3x"></i>
      </div>
      <div class="how_sub_title">
        <h1>Search</h1>
        <p>ユーザー登録が完了したら、検索画面で好きな音楽を検索しよう!</p>
        <p>Trendの音楽を聞くのもOK！</p>
      </div>
    </div>
    <div class="col-lg-4 step-box">
      <div>
        <div class="step-number">
          <h2>STEP2</h2>
        </div>
        <i class="fas fa-laptop-code fa-3x"></i>
      </div>
      <div class="how_sub_title">
        <h1>Study</h1>
        <p>音楽を聴きながら作業に集中！</p>
        <p>タイマーの設定は変更できるよ！しなくてもOK！</p>
      </div>
    </div>
    <div class="col-lg-4 step-box">
      <div>
        <div class="step-number">
          <h2>STEP3</h2>
        </div>
        <i class="fas fa-mug-hot fa-3x"></i>
      </div>
      <div class="how_sub_title">
        <h1>Rest&Talk</h1>
        <p>集中したら、束の間の休憩！</p>
        <p>掲示板でpomoを呟くのもOK！</p>
      </div>
    </div>
  </div>
</div>