<%= render partial: 'posts/form', locals: { post: @post } %>

<div id="posts_area">
  <%= render partial: 'posts/index', locals: { posts: @posts, post: @post} %>
</div>

<% if controller.controller_name == "posts"%>
  <div class="paginate_link">
    <%= paginate @posts %>
  </div>
<% end %>

<script type="text/javascript">
document.addEventListener("turbolinks:load", function(){
  if(!document.URL.match('page')){

    $(function(){
      setInterval(update, 5000);
      console.log("同期スタート");
    });
  }
  function update(){
    $.ajax({
      url: '/posts', 
      type: 'GET', 
    }) 
  }
});
</script>