<%= render partial: 'posts/form', locals: { post: @post } %>

<div id="posts_area">
  <%= render partial: 'posts/index', locals: { posts: @posts, post: @post} %>
</div>

<%= paginate @posts %>


<script type="text/javascript">
document.addEventListener("turbolinks:load", function(){
  $(function(){
    setInterval(update, 10000);
  });

  function update(){
    $.ajax({
      url: '/posts', 
      type: 'GET', 
    }) 
  }
});
</script>