html{
  width:100%;
  height: 100%;
}

body {
  width: 100wh;
  height: 100%;
  /*height: 90vh;*/
  color: #fff;
  background: linear-gradient(-45deg, #262626, #A96E2D, #5A4498, #3D7CCE);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  font-family: 'Orbitron', sans-serif;
}

.container{
  min-height: 100%;
  margin-top: 30px;
  padding-bottom: 70px;
}

.container-fluid{
  position: relative;
  padding: 0;
}

.form_font{
  font-family: none;
}

nav{
  font-family: none;
}

.footer{
  height:50px;
  background-color: black;
  position: absolute;
  bottom: 0;
  display: table;
  width:100%;
  text-align: center;
}

.footer p{
  display: table-cell;
  vertical-align: middle;
}