html{
  width:100%;
  height: 100%;
}

body {
  width: 100wh;
  height: 100%;
  /*height: 90vh;*/
  color: #fff;
  background: linear-gradient(-45deg, #262626, #A96E2D, #5A4498, #3D7CCE);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  font-family: 'Orbitron', sans-serif;
}

.bg-light{
  background-color:black!important;
}

.navbar-brand {
  background: url("/images/top_img.jpg") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}

.navbar-light .navbar-nav .nav-link {
  font-weight:bold;
  color:white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:white;
}

.navbar-light .navbar-nav .nav-link:visited {
  color:white;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.container{
  min-height: 100%;
  margin-top: 30px;
  padding-bottom: 70px;
}

.container-fluid{
  position: relative;
  padding: 0;
}

.form_font{
  font-family: none;
}

nav{
  font-family: none;
}

.footer{
  height:50px;
  background-color: black;
  position: absolute;
  bottom: 0;
  display: table;
  width:100%;
  text-align: center;
}

.footer p{
  display: table-cell;
  vertical-align: middle;
}

::placeholder{
  text-align: center;
}

.search_form{
  height: 50px;
}

.x-scroll {
overflow: auto;
}
.x-scroll table{
width:100%;
}
.x-scroll::-webkit-scrollbar{
height: 5px; 
}
.x-scroll::-webkit-scrollbar-track{
background: #F1F1F1; 
}
.x-scroll::-webkit-scrollbar-thumb {
background: #d6d6d6; 
}
.x-scroll td, .x-scroll th{
white-space: nowrap;
}

.input-mysize {
  height: 200px!important;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.notice {
  background-color: green;
  color: #white;
  text-align: center;
}

.alert {
  background-color: red;
  color: #white;
  text-align: center;
}




