.music_list{
  margin-bottom: 50px;
}

.search_field{
  margin-top: -40px;
}

.search_actions{
  margin-top: 5px;
}

.slide_button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow{
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.trend_music
.search_music{
    margin-left: 100px;
}

.title_style{
  color:black;
}

.rest_time{
  font-size: 20px;
  color: green;
}

.rest_timer{
  color: green;
}

.play_time{
  font-size: 20px;
}

