#post_content{
  width: 90%;
  height: 80px;
}

.post_admit{
  margin-top:  10px;
}

.post_content{
  margin-left: 70px;
  font-size:20px;
  font-weight: bold;
}

.post_name{
  font-size:15px;
}

.post_created_at{
  font-size: 10px;
}