#post_content{
  width: 90%;
  height: 80px;
  margin-top: -5px;
}

.post_admit{
  margin-top: 10px;
}

.post_content{
  margin-left: 70px;
  font-size: 20px;
  font-weight: bold;
}

.post_name{
  font-size: 17px;
}

.post_created_at{
  font-size: 10px;
}

.post_content{
  word-wrap: break-word;
}

.post_image{
  margin-top: 5px;
}

.circle_image{
  border-radius: 10%;
}

.post_image_size{
  width: 30%;
  height: auto;
}