<% youtube_response.each do |list| %>
    <div class="col-md-4">
      <div class="music_list">
        <% music_url = "https://www.youtube.com/embed/#{list.id.video_id}" %>
        <%= link_to(musics_play_path(title: list.snippet.title, image_url: list.snippet.thumbnails.medium.url, music_url: music_url)) do %>
        <div>
          <%= list.snippet.title %>
        </div>
        <div>
          <img src="<%= list.snippet.thumbnails.medium.url %>">
        </div>
        <% end %>
      </div>
    </div>
  <% end %>