<div class="text-center top_clock">
  <div id="timer">25:00</div>
  <div class="play_time">Run Time</div>
</div>
<div class="controls text-center">
  <div id="min" class="btn btn-dark">Min</div>
  <div id="sec" class="btn btn-dark">Sec</div>
  <div id="reset" class="btn btn-danger">Reset</div>
  <div id="start" class="btn btn-primary">Start</div>
</div>
<hr>
<div class="row justify-content-center">
  <div class="col-md-offset-1 col-md-10 col-md-offset-1">
    <h2 class="text-center"><%= @title %></h2>
    <div class="text-center embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" id='iframe' width="560" height="315" 
      src="<%= @music_url %>"
      frameborder="0" 
      allowfullscreen>
    </iframe>
    </div>
  </div>
</div>
<hr>
<div>
  <%= render "shared/post_form" %>
</div>

<%= audio_tag("alert.mp3", id:"audio") %>

<script type="text/javascript">
document.addEventListener("turbolinks:load", function(){
  'use strict'

  let timer = document.getElementById('timer');
  let min = document.getElementById('min');
  let sec = document.getElementById('sec');
  let reset = document.getElementById('reset');
  let start = document.getElementById('start');

  let audio = document.getElementById('audio');


  let iframe = document.getElementById('iframe');

  let startTime;
  let timeLeft;
  let timeToCountDown = 1000 * 60 * 0.2
  let timerId;
  let isRunning = false;

  function countDown(){
    timerId = setTimeout(function(){
      timeLeft = timeToCountDown - (Date.now() - startTime);
      if(timeLeft < 0){
        isRunning = false;
        start.textContent = "Start";
        clearTimeout(timerId);
        timeLeft = 0;
        timeToCountDown = 0;
        updateTimer(timeLeft);

        console.log("音楽ストップ");
        iframe.remove();
        location.href="/musics/rest";

        return;
      }
      updateTimer(timeLeft)
      countDown();
    },10);
  }

  function updateTimer(t){
    let d = new Date(t);
    let m = d.getMinutes();
    let s = d.getSeconds();
    m = ('0' + m).slice(-2);
    s = ('0' + s).slice(-2);
    let timerString = m + ":" + s;
    timer.textContent = timerString;
    document.title = timerString;
  }

  start.addEventListener("click", function(){
    if (isRunning === false){
      isRunning = true;
      
      start.style.display="none";
      min.style.display="none";
      sec.style.display="none";
      reset.style.display="none";

      startTime = Date.now();
      countDown();
    }else{
      isRunning = false;
      start.textContent = "Start";
      timeToCountDown = timeLeft;
      clearTimeout(timerId);
    }

    setTimeout(function(){
      audio.play();
    }, (timeToCountDown - 5000))

  });

  min.addEventListener("click", function(){
    if (isRunning === true) {
      return;
    }
    timeToCountDown += 60 * 1000;
    if (timeToCountDown >= 60 * 60 * 1000) {
      timeToCountDown = 0;
    }
    updateTimer(timeToCountDown);
  });
  
  sec.addEventListener("click", function(){
    if (isRunning === true) {
      return;
    }
    timeToCountDown += 1000;
    if (timeToCountDown >= 60 * 60 * 1000) {
      timeToCountDown = 0;
    }
    updateTimer(timeToCountDown);
  });

  reset.addEventListener("click", function(){
    timeToCountDown = 0;
    updateTimer(timeToCountDown);
  });

window.onbeforeunload = null;

});
</script>