<div class="text-center top_clock">
  <div class="rest_timer" id="timer">25:00</div>
  <div class="rest_time">Rest Time</div>
</div>
<%= audio_tag("/images/alert.mp3", id:"audio") %>
<hr>
<div>
  <%= render "shared/post_form" %>
</div>

<script type="text/javascript">
document.addEventListener("turbolinks:load", function(){

  let timer = document.getElementById('timer');
  let startTime;
  let timeLeft;

  let timeToCountDown = 60 * 1000;
  let timeToRest = 60 * 100;
  let timerId;
  let stopId
  let isRunning = false;

  let show_time = document.getElementById('show_time');

  function countDown(){
    timerId = setTimeout(function(){
      timeLeft = timeToCountDown - (Date.now() - startTime);

      if(timeLeft < 0){
        isRunning = false;
        clearTimeout(timerId);
        timeLeft = 0;
        timeToCountDown = 0;
        updateTimer(timeLeft);

        console.log("音楽ストップ");
        location.href="/musics/index";

        return;
      }
      updateTimer(timeLeft)
      countDown();
    },10);
  }

  function updateTimer(t){
    let d = new Date(t);
    let m = d.getMinutes();
    let s = d.getSeconds();
    m = ('0' + m).slice(-2);
    s = ('0' + s).slice(-2);
    let timerString = m + ":" + s;
    timer.textContent = timerString;
    document.title = timerString;
  }

  function timer_start(){
    if (isRunning === false){
      isRunning = true;
      startTime = Date.now();
      countDown();
    }else{
      isRunning = false;
      timeToCountDown = timeLeft;
      clearTimeout(timerId);
    }
  }

  window.onload = timer_start(); 
  console.log("タイマースタート");
  window.addEventListener('popstate', function (e) {
    clearTimeout(timerId);
  });

});
</script>